@import "card";

body {
  background-color: white;
}

#root {
  padding: 0;
  margin: 0;
  width: 100%;
}

#root > div {
  display: flex;
}

.map-container {
  height: 100vh;
  width: 40%;
  position: sticky !important; /* !important to override Gmaps inline CSS */
  top: 0 !important;
  background-color: rgb(209, 255, 213);
}

.flat-list {
  padding-top: 20px;
  padding-left: 10px;
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  .card {
    width: calc(50% - 10px);
    margin-right: 10px;
    margin-bottom: 10px;
  }
  background-color: rgb(209, 209, 255);
}

.marker {
  height: 10px;
  width: 10px;
  background-color: white;
  border-radius: 50%;
}